h1{
    color: rgb(133, 115, 250);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

<<<<<<< HEAD
.img{
	width: 150px;
	height: 150px;
	border-top: 5px solid rgb(133, 115, 250);
	border-right: 5px solid rgb(133, 115, 250);
	border-bottom: 5px solid rgb(133, 115, 250);
	border-left: 5px solid rgb(133, 115, 250);
	border-radius: 50%
	
}
=======
/* .img{
    ;

} */
>>>>>>> 404ddb4d664a3f9d0f628d0f1844340c8929af0a

h2{
    color: rgb(133, 115, 250);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(28,28,28);
    
}

.paragrafo{
    background-color: white;
    height: 300px;
}

p{
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list-style{
    color: white;
    
    font-weight: bold;
    line-height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: black;
}