h1, h2{
    color:rgb(151, 112, 209);
    text-align: center;
}

h1{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.img{
    display: block;
    margin: 0 auto;
    border: 5px solid rgb(151, 112, 209);
	border-radius: 50%
	
}

h2{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #131414;

    
}

.paragrafo{
    /* background-color: white; */
    height: 300px;
    
}

p{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list-style{
    color: white;
    font-weight: bold;
    line-height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}

