h1{
    color: rgb(133, 115, 250);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .img{
    ;

} */

h2{
    color: rgb(133, 115, 250);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(28,28,28);
    
}

.paragrafo{
    background-color: white;
    height: 300px;
}

p{
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list-style{
    color: white;
    
    font-weight: bold;
    line-height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: black;
}